img {
  height: 130px;
  width: 135px;
}

p {
  text-align: center;
  font-weight: bold;
  color: black;
}

.wrapper {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 200px);
  margin-left: auto;
  margin-right: auto;
}

.wrapper-details {
  width: 600px;
  display: grid;
  grid-gap: 45px;
  padding-left: 50px;
  padding-bottom: 10px;
  grid-template-columns: repeat(4, 130px);
}

.wrapper-details-inst {
  width: 600px;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: 150px 450px;
  padding-left: 40px;
}

.wrapper-details-input {
  width: 600px;
  display: grid;
  grid-gap: 45px;
  padding-left: 50px;
  padding-bottom: 10px;
  grid-template-columns: 120px 120px 180px 120px;
}

.modal-box {
  border: 1px solid rgb(158, 157, 157);
  padding: 10px;
  size: 130px;
  text-align: center;
}

.cup-box {
  border: 1px solid rgb(158, 157, 157);
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  width: 130px;
  height: 70px;
}

.box {
  border-color: rgb(223, 223, 223);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  font-size: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  /* content: ">"; */
  font-size: 10px;
  color: black;
  /* padding: 100px; */
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
  padding-right: 150px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar {
  padding: 50px;
}

.navbar img {
  height: 100px;
  width: 250px;
  margin-left: 30px;
  margin-right: 30px;
}

.item {
  flex-grow: 1;
}
